@import "../../../bootstrap.min.css";

.card-header{
  background: var(--primary);
}
.card-body{
  background: #ebebeb;
}
.date-separator{
  font-weight: bold ;
  border-bottom: 1px solid #999999;
  margin-bottom: 10px;
}
button{
  background: none;
  border: none;
}

