@import "../../../bootstrap.min.css";

.img-logo-gsb{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-sprint{
    list-style: none;
    text-align: initial;
}

.sprint{
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}