<div class="container fixed-top">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand text-decoration-non"><h1 class="user-select-none">Gaëtan Corso</h1> En
                        Apprentissage chez OVYA </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="navbar-nav ">
                            <li class="nav-item  ">
                                <a class="nav-link" href="index.html ">CV</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Veilles
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item " href="veilles-notions.html">Notions
                                    </a>
                                    <a class="dropdown-item" href="veille-faille-securite.html ">
                                        Failles de
                                        sécurité
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nablaware.html"> Nablaware</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="ovya.html"> OVYA</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


